.footer {
    background-color: var(--bg-padding, #2f324b);
}

.footer__logo {
    display: flex;
    gap: 19px;
    align-items: center;
}

.footer__caption-logo {
    font-size: 12px;
    font-weight: 500;
    max-width: 130px;
}

.footer_author {
    font-size: 12px;
    font-weight: 500;
}

.footer_author-big {
    display: none;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}

@media (max-width: 650px) {
    .footer_author {
        display: none;
    }

    .footer_author-big {
        padding: 15px 0;
        display: block;
        background-color: var(--bg-author, #2a2c3f);
        font-size: 12px;
        text-align: center;
    }

    .footer__container {
        padding: 0;
    }

    .footer__menu {
        padding: 0 15px;
    }
}