@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('Roboto.woff2') format('woff2'), url('Roboto.woff') format('woff'), url('Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('Robotomedium.woff2') format('woff2'), url('Robotomedium.woff') format('woff'), url('Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('Robotoblack.woff2') format('woff2'), url('Robotoblack.woff') format('woff'), url('Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    --dark-text: #383a4c;
    --light-text: #fff;
    --light-text-opacity: rgba(255, 255, 255, 0.8);
    --bg-color: #fff;
    --blue-color: #15a9cb;
    --blue-color-opacity: rgba(21, 169, 203, 0.8);
    --logo-call-color: #555a7b;
    --bg-no-color: transparent;
    --bg-padding: #2f324b;
    --bg-author: #2a2c3f;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--white-color, #fff);
    background-color: var(--bg-color, #fff);
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure {
    margin: 0;
    border: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

iframe {
    border: none;
}

blockquote {
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

/*
  Доступно скрываю элементы
  */

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.subtitle {
    font-size: 35px;
    font-weight: 700;
}

.button {
    background-color: var(--blue-color, #15a9cb);
    color: var(--white-color, #fff);
    border-radius: 50px;
}

.phone {
    font-size: 24px;
}

.call {
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.call-us {
    text-align: center;
}

.call-phone {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .subtitle {
        font-size: 32px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .phone {
        font-size: 21px;
    }

    .call {
        font-size: 13px;
    }

    .menu {
        margin-bottom: 70px;
    }
}

@media (max-width: 480px) {
    .subtitle {
        font-size: 20px;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .call-us {
        display: none;
    }

    .call-phone {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--logo-call-color, #555a7b);
        padding: 6px;
    }

    .menu {
        margin-bottom: 65px;
    }
}