.header {
    position: relative;
}

.header__container {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);  
    width: 90%;
    display: flex;
    justify-content: space-between;    
    align-items: center;      
}
